img.back {
  position: absolute;
  top: -5vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 105vh;
}
header {
  nav {
    width: 100%;
    padding: 2rem;
    ul {
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 2rem;

        a {
          text-decoration: none;
          color: black;
        }
        a.active {
          color: orange;
        }
      }
    }
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    display: flex;
    flex-direction: column;
    flex: 3 1 300px;
    padding: 2rem;
    margin: 1rem 1rem;
    h1 {
      padding: 4rem 0rem;
      font-size: 4rem;
      color: orange;
    }
    p {
      font-size: 1.5rem;
      padding: 2rem 0rem;
    }
  }
  section.right {
    display: flex;
    flex-direction: column;
    flex: 1 1 600px;
    div.myPic {
      position: relative;
      img {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        position: absolute;
        top: 25vh;
      }
    }
    div.box {
      position: relative;
      div.box1 {
        position: absolute;
        top: 75vh;
        left: 10vw;
        background-color: rgba(61, 197, 197, 1);
        width: 60%;
        font-size: 2rem;
        padding: 1rem 1.5rem;
        text-align: center;
        border-style: none;
        border-radius: 20px;
        z-index: 1;
      }
      div.box2 {
        position: absolute;
        top: 77vh;
        left: 11vw;
        background-color: rgba(22, 129, 129, 0.8);
        width: 60%;
        height: 4.5rem;
        font-size: 2rem;
        padding: 1rem 1.5rem;
        text-align: center;
        border-style: none;
        border-radius: 20px;
        z-index: 0;
      }
    }
  }
}

main.homepage {
  height: 70vh;
}
